/* style.css */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("../images/bg1.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    overflow:hidden;
    position:relative;
}

/* overlay */
.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.2);
}

/* login card */
.login-container{
    position:relative;
    width:380px;

    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(10px);

    padding:45px 35px;

    border-radius:20px;
    border:1px solid rgba(255,255,255,0.2);

    box-shadow:0 8px 30px rgba(0,0,0,0.3);

    text-align:center;
    z-index:2;
}

/* logo */
.logo{
    width:90px;
    height:90px;
    object-fit:contain;

    margin-bottom:18px;
}

/* title */
.system-title{
    color:#fff;
    font-size:24px;
    font-weight:700;

    line-height:1.3;

    margin-bottom:30px;
}

/* form spacing */
.form-group{
    margin-bottom:20px;
}

/* inputs */
.form-group input{
    width:100%;

    padding:14px 15px;

    border:none;
    border-radius:10px;

    outline:none;

    background:rgba(255,255,255,0.92);

    font-size:14px;
}

/* button */
button{
    width:100%;

    padding:14px;

    margin-top:8px;

    border:none;
    border-radius:10px;

    background:#16a34a;
    color:white;

    font-size:15px;
    font-weight:600;

    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#15803d;
    transform:translateY(-2px);
}

/* error */
.error{
    margin-top:18px;

    color:#fecaca;
    font-size:14px;

    display:none;
}

.error.show{
    display:block;
}

/* teacher-dashboard */

